@CHARSET "UTF-8";

/* 클릭되는 컨텐츠의 테두리를 사라지게 만든다.  */
*:focus { outline: none; }
hide 	{ display: none; }
html, body, ul, li, button {	margin: 0; padding: 0; }
body 	{ height: 100%;}
img 	{ display: block; border: 0; }
button  { border : 0; background: none; border: 0; }
div 	{ -ms-user-select: none; -moz-user-select: -moz-none; -khtml-user-select: none;	-webkit-user-select: none;	user-select: none;}


.main_product {	margin: 0; padding : 0; padding-top: 100;}
.main_product .main_product01, .main_product02, .main_product03, .main_product04, .main_product05 { 	width: 1200px;	margin: 0 auto;	position: relative; } 
.main_product .main_product01 { height: 340px; background-color : #ffffff; margin-bottom: 10px; position: relative;}
.main_product .main_product02 { height: 300px; background-color : white; margin-bottom: 10px; position: relative;}
.main_product .main_product02 img  { width: 1200px; height: 300px;}
.main_product .main_product03 { height: 668px; background-color : #ffffff; margin-bottom: 10px; position: relative; border-top: 1px solid #d3d3d3; padding-top: 20px;}
.main_product .main_product04 { height: 300px; background-color : white; margin-bottom: 10px; position: relative;}
.main_product .main_product04 img  { width: 1200px; height: 300px;}
.main_product .main_product05 { height: 668px; background-color : #ffffff; margin-bottom: 10px; position: relative; border-top: 1px solid #d3d3d3; padding-top: 20px;}

.main_product .main_product01 .main_product01_contents { padding: 0; margin:0; position: absolute; top:0; }
.main_product .main_product02 .main_product02_contents { padding: 0; margin:0; position: absolute; top:0; }
.main_product .main_product03 .main_product03_contents { padding: 0; margin:0; position: absolute; top:0; padding-top: 5px;}
.main_product .main_product04 .main_product04_contents { padding: 0; margin:0; position: absolute; top:0; }
.main_product .main_product05 .main_product05_contents { padding: 0; margin:0; position: absolute; top:0;  padding-top: 5px;}

/* *************************************************************************************************************************************************** */
.main_product .main_product01 .main_product01_contents li{ width : 225px; height : 330px; margin-right : 10px; display : inline-block; background-color : #ffffff; position: relative; }
.main_product .main_product01 .main_product01_contents li #main_product01_contents_img { width: 225px; height: 220px; position: absolute; top: 0;}
.main_product .main_product01 .main_product01_contents li:LAST_CHILD { margin-right: 0; }

.main_product .main_product01 .main_product01_contents li div { position : absolute; top : 230px; text-align: center;}
.main_product .main_product01 .main_product01_contents li span { word-wrap: break-word; }
.main_product .main_product01 .main_product01_contents li h3 { margin: 0 auto; padding: 0px; }
/* *************************************************************************************************************************************************** */


/* *************************************************************************************************************************************************** */
.main_product .main_product03 .main_product03_contents li{ width : 225px; height : 330px; margin-right : 10px; display : inline-block; background-color : #ffffff; position: relative; }
.main_product .main_product03 .main_product03_contents li #main_product03_contents_img { width: 225px; height: 220px; position: absolute; top: 0; z-index: 1;}
.main_product .main_product03 .main_product03_contents li #main_product03_best_img { width: 50px; height: 20px; position: absolute; top: 0; z-index: 2;}
.main_product .main_product03 .main_product03_contents li:LAST_CHILD { margin-right: 0; }

.main_product .main_product03 .main_product03_contents li div { position : absolute; top : 230px; text-align: center;}
.main_product .main_product03 .main_product03_contents li span { word-wrap: break-word; }
.main_product .main_product03 .main_product03_contents li h3 { margin: 0 auto; padding: 0px; }
/* *************************************************************************************************************************************************** */


/* *************************************************************************************************************************************************** */
.main_product .main_product05 .main_product05_contents li{ width : 225px; height : 330px; margin-right : 10px; display : inline-block; background-color : #ffffff; position: relative; }
.main_product .main_product05 .main_product05_contents li #main_product05_contents_img { width: 225px; height: 220px; position: absolute; top: 0;}
.main_product .main_product05 .main_product05_contents li #main_product05_new_img { width: 40px; height: 15px; position: absolute; top: 0; z-index: 2; top: 10px; left: 10px;}
.main_product .main_product05 .main_product05_contents li:LAST_CHILD { margin-right: 0; }

.main_product .main_product05 .main_product05_contents li div { position : absolute; top : 230px; text-align: center;}
.main_product .main_product05 .main_product05_contents li span { word-wrap: break-word; }
.main_product .main_product05 .main_product05_contents li h3 { margin: 0 auto; padding: 0px; }
/* *************************************************************************************************************************************************** */
.main_product #bestname, #newname {	margin: auto; width: 1200px; margin-bottom: 5px;}

