@CHARSET "UTF-8";
div { -ms-user-select: none; -moz-user-select: -moz-none; -khtml-user-select: none;	-webkit-user-select: none;	user-select: none;}


.main_Contents_img_slider 			  { width   : 1920px; height: 500px; overflow: hidden; margin: 0 auto; position: relative; }
.main_Contents_img_slider ul 		  { list-style: none; font-size: 0; padding: 0; }
.main_Contents_img_slider ul li 	  {	display : inline-block;}
.main_Contents_img_slider button.prev { position: absolute; left : 20%; top : 140px; }
.main_Contents_img_slider button.next { position: absolute; right: 20%; top : 140px; }
.main_Contents_img_slider ul li .main_slider_img{ height: 500px;}