@CHARSET "UTF-8";
.logofont {
	font-family: 'Orbitron', cursive;
	font-size: 45px;
}

.btnwhite{
	background: white; border: 1px #4d90fe solid; color:#4d90fe; height: 30px; 
}

.btncolor{
	background: #4d90fe; border:0px; color:white; height: 30px;
}	