@CHARSET "UTF-8";

body, ul, li {	margin: 0;	padding: 0;}
hr { width: 1200px;}

.container { width: 1200px;	 height: 600px; margin: 0 auto; background-color: white;}
.container .formBox { width: 600px;	height: 500px;	background-color: white;	margin: 0 auto;	position: relative;	top: 60px; border-bottom: 1px solid #4d90fe;}
.container .formBox h2 { border-bottom: 1px solid #4d90fe; padding-right: 30px;}
.container .formBox .form { width: 500px;	height: 370px;	background-color: white;	margin: 0 auto; }
.container .formBox .form ul {	width: 440px;}
.container .formBox .form ul li {	display: inline-block;	margin-bottom: 10px;}
.container .formBox .form ul li label{	display: inline-block;	height: 25px;	width: 200px;}
.container .formBox .form ul li input[type=text], input[type=password] {	width: 200px; height: 35px; border-radius: 5px; outline: none;}
.container .formBox .form ul li .autherntication>#btnEmailSend{ display: inline-block;}
.container .formBox .form ul li .idCheck {display: inline-block;}
.container .formBox .form ul li label {	width: 150px;	text-align: right;}


.container .formBox .form .buttons { display: inline; margin-left: 130px}

.container .formBox .form .buttons input {border: 0px; color: white; height: 35px; width: 120px;}
#btnJoin {background: #4d90fe;}
#btnReset {background: gray;}
#btnEmailSend { margin-left: 180px;}
.joinbtn{ background: white; border: 1px #4d90fe solid; height: 30px; }
#txtcode{    margin-left: -24px; margin-right: 3px;}
