@CHARSET "UTF-8";

body, ul, li {	margin: 0;	padding: 0;}
hr { width: 1200px;;}

.container{
	width: 1200px;
	height: 600px;
	margin: 0 auto;
	background-color: white;
	position: relative;
	top : 10px;
}

.container .formBox {
	width: 800px;
	height: 500px;
	margin: 0 auto;
	background-color: white;
	position: relative;
	top : 10px;
	text-align: center;
}
.container .formBox  img {
	margin: 0 auto;
}

.container .formBox img , span{
	display: block;
	padding-bottom: 20px;
}

.container .formBox .snsBtn {
	border-top: 1px dotted black;
	border-bottom: 1px solid black;
	padding-top : 20px;
	margin-bottom: 20px;
}

.container .formBox .snsBtn ul li{
	display: inline-block;
}

.container .formBox .snsBtn input[type=image] {
	padding-bottom: 20px;
}










