@CHARSET "UTF-8";

body ul, li {
	margin: 0;
	padding: 0;
}

div {
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

hr {
	width: 1200px;
}

.container {
	width: 100%;
	height: 700px;
	background-color: white;
}

.container .login_box {
	width: 1200px;
	height: 700px;
	margin: 0 auto;
	background-color: white;
}

.container .login_box .title {
	margin-left: 20px;
}

.container .login_box .form .login {
	width: 600px;
	height: 300px;
	margin: 0 auto;
	background-color: white;
	position: relative;
	padding-top: 40px;
}

.container .login_box .form .login ul, li, label {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.container .login_box .form .login .box {
	background-color: white;
	height: 130px;
	width: 600px;
	border-top: 2px #4d90fe solid;
	border-bottom: 2px #4d90fe solid;
}

.container .login_box .form .login .box .input_ul {
	position: relative;
	top: 40px;
	width: 360px;
	text-align: right;
}

.container .login_box .form .login .box .input_ul li {
	margin-bottom: 2px;
}

.container .login_box .form .login .box  .input_ul li label {
	width: 80px;
}

.container .login_box .form .login .box  .input_ul li input {
	width: 210px;
	height: 27px;
}

.container .login_box .form .login .option {
	position: relative;
	top: 0px;
	left: 150px;
}

.container .login_box .form .login .button {
	position: absolute;
	top: 80px;
	right: 120px;
	background-color: white;
	width: 100px;
	height: 55px;
	border-bottom: dot
}

.container .login_box .form .login .otherLogin {
	width: 620px;
	height: 115px;
	background-color: white;
	position: relative;
	border-top: 1px dotted black;
	margin-top: 30px;
}

.container .login_box .form .login .otherLogin ul {
	margin-top: 20px;
	border-bottom: 2px solid black;
	padding-bottom: 20px;
}