@CHARSET "UTF-8";


body {	margin:0;	padding: 0; height: 100%;}
li {	display: inline-block;}
.container {	margin: 0;	padding: 0;	background-color: white;}

.container #carttable {
	width: 1200px;
	background-color: white;
	margin: 0 auto;
	padding-top: 150px;
}

.container #carttable ul {
	display: block;
	margin : 0;
	padding : 0;
	border-bottom: 1px solid #bbbbbb;
}
.container #carttable ul li {
	display: inline-block;
	margin-bottom: 20px;
}
.container #carttable ul li label {
	display: block;
}
.container #carttable ul li div {
	margin-left: 70px; position: relative;    bottom: 15px;
}

.container #carttable ul li div a {
	display: inline-block;
}
.container #carttable ul li div p {
	margin: 0;
	padding: 0;
}

.container #carttable ul li img {
	width: 100px;	height: 100px; position: relative;  top: 5px;  left: 10;
}

.container #carttable ul li #check {
	position: relative;
	bottom : 30px;
}
/*  */
.container .buttons {
	width: 1200px;
	height: 50px;
	background-color: white;
	margin: 0 auto;
	padding-top: 20px;
}
.container .buttons #checkall, #spay, #sdelete {
	 background-image: url(${pageContext.request.contextPath}+"/resources/testImage/cartBtn.png");
	 width: 100px;
	 height: 50px;
}
.container #total {
	width: 1200px;
	margin: 0 auto;
	text-align: right;
}




