@CHARSET "UTF-8";

.footer {
	width : 100%;
	height : 80px;
	background-color: white;
	position: relative;
	bottom : -100px;
	border-top: 1px solid #c0c0c0;
}

.footer .wrap {
	width: 1200px;
	height : 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	
}

.footer .wrap span{
	position: absolute;
	left: 535px;
    top: 30px;
}

