@CHARSET "UTF-8";

a { text-decoration: none; color: #000000; }
ul { list-style-type: none;}
body { padding: 0; margin: 0; }
 div { -ms-user-select: none; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;} 
/* 77 144 254  */

/* --------------------------------------------------------------------------------------------------------------------------------------------------------  */

.header{	width: 1200px;	height : 170px;	background-color : #ffffff; margin: 0 auto;	padding-top: 50px; }

.header #header_sec01 { margin: 0 auto; padding:10px; height: 90px; background-color: white; }

.header #header_sec01 .logo { display: inline; position: relative; top:3; padding-right:50px;}
.header #header_sec01 #header_ul { display: inline-block; float: right;}
.header #header_sec01 #header_ul li { display: inline; padding: 0 10px; border-left: 1px solid #999; font-size : 11px; float: left; }
.header #header_sec01 #header_ul li:FIRST-CHILD { border-left: none; }

/* --------------------------------------------------------------------------------------------------------------------------------------------------------  */
.header #header_sec01 #header_sec02 { position: relative;}
.header #header_sec01 #header_sec02 #menu_ul1 { padding: 0; margin: 0; position: absolute; left : 0; top: 70px; }
.header #header_sec01 #header_sec02 #menu_ul1 li { display: inline-block; padding: 0 10px; border-left: 1px solid #999; font-size : 14px;}
.header #header_sec01 #header_sec02 #menu_ul1 li:FIRST-CHILD { border-left: none; }

.header #header_sec01 #header_sec02 #menu_ul2 {  padding: 0; margin: 0; position: absolute; right : 0; top: 70px; }
.header #header_sec01 #header_sec02 #menu_ul2 li { display: inline-block; padding: 0 10px; font-size : 14px;}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------  */

.header #header_sec01 #search_box {display: inline;}
.header #header_sec01 #search_box input[type=text] { margin-left : 120px; width: 350px; 	height: 35px; border:none; border-bottom : 1px solid #4d90fe; font-size: 15px; font-color: #4d90fe }
.header #header_sec01 #search_box .btn_search { display: inline; position: relative; top: 4; }