@CHARSET "UTF-8";
html { height: 100%; }
body { height: 100%; }

body, ul, li {	margin:0;	padding: 0;}
ul 			 { list-style-type: none;}
li  		 { display: inline-block;}
hr			 { width: 1200px;}
div 		 { -ms-user-select: none; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none;	user-select: none;}
.hide   	 { display: none;}

::-webkit-input-placeholder { text-align: center; }
:-moz-placeholder 			{ text-align: center; }
::-moz-placeholder 			{ text-align: center; }
:-ms-input-placeholder 		{ text-align: center; }

.detail_container { width: 1200px; background-color: white; margin : 0 auto; padding: 0; position: relative; top : 2px;}

.detail_container .deatil_header 							 { width: 1200px; height: 600px; background-color: white; border-bottom: 1px solid #dfdfdf;}
.detail_container .deatil_header .title_image 				 { width: 600px; height: 500px;}
.detail_container .deatil_header .title_image img 			 { margin-left : 100px; margin-right:150px;	margin-top : 100px;	width: 400px;	height: 400px;}
.detail_container .deatil_header .title_image .selectmainimg { margin-left : 100px; margin-right:100px; margin-top: 10px; width: 400px; text-align: center;}


.detail_container .deatil_header .option 						 { width: 600px; height : 500px; position : absolute; top : 0; right : 20px; margin: 0; padding:0;}
.detail_container .deatil_header .option .navi, .select, .button { padding-left: 20px; width: 600px;}


.detail_container .deatil_header .option .navi 				 { display: block; height: 100px; position: relative; border-bottom:3px solid black; }
.detail_container .deatil_header .option .navi ul 			 { text-align: right; padding-right: 20px; padding-top: 15px; position: absolute; right: -20px;  }
.detail_container .deatil_header .option .navi span 		 { position: absolute; bottom: 5px; right: 0;}

.detail_container .deatil_header .option .select 			 { display: block; height: 300px; position: relative;}
.detail_container .deatil_header .option .select .title 	 { border-bottom: 1px solid #cecece;; padding-bottom:5px;}
.detail_container .deatil_header .option .select .title h2   { display: block; color: black; margin-top: 15px; padding: 0;}
.detail_container .deatil_header .option .select .title span { display: block; color: black; margin-top : 15px; margin-bottom : 15px; padding: 0;}

.detail_container .deatil_header .option .select .ul_info 	 { margin-top: 15px;  border-bottom: 1px solid #cecece;} 
.detail_container .deatil_header .option .select .ul_info li { display: block;}
.detail_container .deatil_header .option .select .ul_info h4 { width: 100px; display: inline-block; margin: 0; padding-bottom: 10px;}

.detail_container .deatil_header .option .button 				 { display: block; height: 100px; background-color: white; } 
.detail_container .deatil_header .option .button .price 		 { text-align: right;}
.detail_container .deatil_header .option .button .price  span, h2{ display: inline-block;} 

.detail_container .deatil_header .option .button .buttons 						{ width: 605px;}
.detail_container .deatil_header .option .button .buttons .wish, .basket , .buy { width: 195px; height: 80px; display: inline-block; background-color: blue; }

.detail_container .deatil_header .option .button .buttons .wish          { background-color: #fffff;	border: 1px solid black; }
.detail_container .deatil_header .option .button .buttons .basket        { background-color: #5c5c5c;	border: 1px solid whilte;}
.detail_container .deatil_header .option .button .buttons .buy 			 { background-color: #5698ca;	border: 1px solid whilte;}

.detail_container .deatil_header .option .button .buttons .wish img,h3 	 { display: inline-block;  }
.detail_container .deatil_header .option .button .buttons .basket img,h3 { display: inline-block;  }
.detail_container .deatil_header .option .button .buttons .buy img,h3    { display: inline-block;  }

.detail_container .deatil_header .option .button .buttons .wish h3 	     { position: relative;  top: 10px;  left: 35px; }
.detail_container .deatil_header .option .button .buttons .basket h3     { position: relative;  top: 10px;  left: 35px; }
.detail_container .deatil_header .option .button .buttons .buy h3 	     { position: relative;  top: 10px;  left: 35px; }

.detail_container .deatil_header .option .button .buttons .wish img   	 { position: relative;  top: 15px;  left: 35px; }
.detail_container .deatil_header .option .button .buttons .basket img 	 { position: relative;  top: 15px;  left: 35px; }
.detail_container .deatil_header .option .button .buttons .buy img 	  	 { position: relative;  top: 15px;  left: 35px; }

.detail_container .deatil_body 			{ width: 1200px; background-color: white;	margin-top: 110px;;}
.detail_container .deatil_body .product { margin : 0 auto; background-color: white;} 

.detail_container .deatil_body .deatil_footer 							  {	width: 1200px;	background-color: white; margin-top: 50px;}
.detail_container .deatil_body .deatil_footer .tab 						  {	width: 1200px;	height: 40px;	background-color: white;}
.detail_container .deatil_body .deatil_footer .tab .type1, .type2, .type3 { width: 400px;   height: 40px;   background-color: white ; display: inline-block;    float: left;    text-align: center;    font-size: 15px;    border-top: 1px solid #c0c0c0; border-bottom: 1px solid #c0c0c0;}

.detail_container .deatil_body .deatil_footer  span 		   			  { position: relative; top: 10px;}
.detail_container .deatil_body .deatil_footer .tab .type1:ACTIVE , .type2:ACTIVE , .type3:ACTIVE {	background-color: #d0d0d0;}
.detail_container .deatil_body .deatil_footer .area 		   			  { width: 1200px; height: auto;  background-color: white;	margin-top: 2px; overflow: auto; margin-bottom: 100px;}
.detail_container .deatil_body .deatil_footer .area .dtinfiimg 			  { width: 930px;  margin: auto;  padding-left: 50px;}

.detail_container .deatil_body .deatil_footer .area .hide 	  			  { display: none;}
.detail_container .deatil_body .deatil_footer .area .activity 			  { display: inline-block;}

.detail_container .deatil_body .deatil_footer .area .typeTwo .two 		  { padding-top: 20px; padding-left: 20px; text-align: center;}
.detail_container .deatil_body .deatil_footer .area .typeTwo .two ul 	  { width: 1160px;}
.detail_container .deatil_body .deatil_footer .area .typeTwo .two ul li   { margin-bottom: 20px; margin-right: 16px; border: 1px solid #cac9c9;}

.detail_container .deatil_body .deatil_footer .area .typeTwo .two ul li div 		{ width : 366px; height: 200px; margin: 0; padding: 0;}
.detail_container .deatil_body .deatil_footer .area .typeTwo .two ul li div img 	{ width : 60px;  height: 60px; display: inline-block;  float: left;  margin-right: 10px;}
.detail_container .deatil_body .deatil_footer .area .typeTwo .two ul li div label 	{ height: 29px;  white-space: nowrap; overflow:hidden !important; text-overflow: ellipsis; float: right; padding:10px; padding-top: 5px;}
.detail_container .deatil_body .deatil_footer .area .typeTwo .two ul li div span 	{ width : 296px; height: 150px; margin: 0; padding: 10px;  display: inline-block;	white-space: normal;   	overflow:hidden !important;    text-overflow: ellipsis;	position: relative;  top: 0;}
.detail_container .deatil_body .deatil_footer .area .typeTwo .two ul li div p 		{ float : right;}


.detail_container .deatil_body .deatil_footer .area .typeThree ._three 		 { width: 1180px; text-align: center;}
.detail_container .deatil_body .deatil_footer .area .typeThree ._three table { display: inline-block}

#detail_p 				   { width: 1000px; height: 240px; position : absolute; z-index: 10; background-color: white; position: absolute; border: 1px solid black; opacity: 0.9; padding-right: 10px; }
#detail_p input[type=image]{ width: 30px;   height: 30px;  float : right; outline: none; }
#detail_p div 			   { margin-top: 20px; margin-left: 20px;}
#detail_p span 			   { position  : absolute;}
#detail_p label 		   { position  : relative; bottom: 20px;} 

table, tr, td, th  		   { border: 1px solid white; border-collapse: collapse; } 
th,td 			  		   { text-align: left;}

.p_Qna_board 		  	   { margin-left : 0;}
.p_Qna_board tr:HOVER 	   { background-color: rgb(239,245,253);}
.p_Qna_board td 	  	   { padding-top : 20px;	padding-bottom: 20px;}
#inquirytable 		  	   { margin-top  : 45px;}

span  { overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
table { text-align: center;}

.star_rating 			   { font-size:0; 	 letter-spacing:-4px;}
.star_rating a 			   { font-size:22px; letter-spacing:0; display:inline-block; margin-left:5px; color:#ccc; text-decoration:none; }
.star_rating a:first-child { margin-left:0; }
.star_rating a.on 		   { color:#777; }

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { /* WebKit browsers */ color:transparent; } 
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder 					  { /* Mozilla Firefox 4 to 18 */ color:transparent; } 
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder 				  { /* Mozilla Firefox 19+ */ color:transparent; } 
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder 		  { /* Internet Explorer 10+ */ color:transparent; }

