@CHARSET "UTF-8";

@CHARSET "UTF-8";

body ul, li { padding: 0; margin: 0; }
body { height: 100%;}
div {
	-ms-user-select: none;	-moz-user-select: -moz-none;	-khtml-user-select: none;	-webkit-user-select: none;	user-select: none;
}

hr { margin-top: 30px; width: 1200px; }

*:focus {	outline: none; }
.hide {	display: none;}
.category_container { margin: 0; padding: 0; width: 100%;}

/* ************************************************************************************************************************************************************************************************** */


/* ************************************************************************************************************************************************************************************************** */
.category_container .cate_box { width: 1200px; margin: 0 auto; padding-top : 20px; background-color: white; }
/* ************************************************************************************************************************************************************************************************** */
.category_container .cate_box .category_List { float : left; width: 200px; height: 1000px; background-color: white; margin-right: 15px; }

.category_container .cate_box .category_contents { width: 1200px; height: 1000px; background-color: white;}
.category_container .cate_box .category_contents .category_contents_pruduct { width: 1000px;  height: 500px; background-color: white; left : 0px;}
.category_container .cate_box .category_contents  p { position: absolute; top: 2px; right: 10px;}
.category_container .cate_box .category_contents .category_contents_pruduct  img { position: relative;   left: 0px;   top: -1000px;   width: 892px; }

.category_container .cate_box .category_contents .category_contents_pruduct .option_box {  padding: 0; margin-top: 8px; margin-bottom: 10px;}
.category_container .cate_box .category_contents .category_contents_pruduct .option_box  div {	display: inline-block;   margin-right: 100px;}
.category_container .cate_box .category_contents .category_contents_pruduct .option_box .box_1 { display: inline-block;}
.category_container .cate_box .category_contents .category_contents_pruduct .option_box .box_2 { display: inline-block;}
.category_container .cate_box .category_contents .category_contents_pruduct .option_box .box_3 { display: inline-block;}

.category_container .cate_box .category_contents .category_contents_pruduct .option_box .box_1 li { display: inline-block; margin: 0; padding: 0; border: 1px solid #efefef; font-size: 12px;}
.category_container .cate_box .category_contents .category_contents_pruduct .option_box .box_1 li:LASTCHILD { border-left: none;}
.category_container .cate_box .category_contents .category_contents_pruduct .option_box .box_2 li { display: inline-block; margin: 0; padding: 0; font-size: 12px;}
.category_container .cate_box .category_contents .category_contents_pruduct .option_box .box_3 li { display: inline-block; margin: 0; padding: 0; font-size: 12px;}

.category_container .cate_box .category_contents .category_contents_pruduct .pruduct_list {  width: 1120px;  top:50px; background-color: red; margin: 0; padding: 0;}
.category_container .cate_box .category_contents .category_contents_pruduct .pruduct_list .list {	display: inline-block; width: 210px; height: 300px;	background-color: white; float: left; padding-right: 7px; padding-left: 7px;}
.category_container .cate_box .category_contents .category_contents_pruduct .pruduct_list .list a img {	position: relative; top : 0; width: 100%; height: 170px;}
.category_container .cate_box .category_contents .category_contents_pruduct .pruduct_list .list a span {	display: block;}

/* ************************************************************************************************************************************************************************************************** */
/* ************************************************************************************************************************************************************************************************** */
.category_container .cate_box .category_List .category_List_sector {	width: 200px; margin-top: 65px; }
.category_container .cate_box .category_List .category_List_sector .category_List_title { height : 40px; background-color: black; text-align: left;	position: relative; margin-bottom: 10px; padding-left: 10px;}
.category_container .cate_box .category_List .category_List_sector .category_List_title label { color: white; position: relative; top: 7px;}
.category_container .cate_box .category_List .category_List_sector .category_List_subject { height : 40px;	background-color : white; text-align: left; border-bottom: 1px solid black; position: relative; padding-left: 10px;}
.category_container .cate_box .category_List .category_List_sector .category_List_subject label { position: relative; top: 9px; width: 144px; display: block;}
.category_container .cate_box .category_List .category_List_sector .category_List_subject img {	width: 30px;	height: 50px; }
.category_container .cate_box .category_List .category_List_sector .category_List_subject button {	border: none; background: none; position : absolute; left: 156px; top: 12px; }
.category_container .cate_box .category_List .category_List_sector .category_List_subject_child { height : 30px; background-color : white; position: relative; }
.category_container .cate_box .category_List .category_List_sector span { position: absolute;	top : 10px;	left : 5px;' 	display: inline-block; }
/* ************************************************************************************************************************************************************************************************** */

