@CHARSET "UTF-8";
table { margin-top: 15px; 	}
table, tr, th, td {	border-collapse: collapse;	width: 950px; }
img {	width: 150px;	height: 150px;}
.detail_container .deatil_body .deatil_footer {	width: 1200px;	height: auto;	background-color: white;	margin: auto; margin-top:47px;}
.detail_container .deatil_body .deatil_footer .tab {	width: 950px;	height: 40px;	background-color: white;	display: inline-block; padding-left: 50px;}
.detail_container .deatil_body .deatil_footer .tab .type1, .type2,	.type3 {	width: 475px;	height: 40px;	background-color: white;	display: inline-block;	float: left;	text-align: center;	font-size: 15px;	border-top: 1px solid #c0c0c0;	border-bottom: 1px solid #c0c0c0; float: left; }
/* .detail_container .deatil_body .deatil_footer  span {	position: relative;	top: 10px;} */
.detail_container .deatil_body .deatil_footer  .tab div span {	position: relative;	top: 10px;}
.detail_container .deatil_body .deatil_footer .tab .type1:ACTIVE, .type2:ACTIVE, .type3:ACTIVE {	background-color: #d0d0d0;}
.detail_container .deatil_body .deatil_footer  .area {	width: 1000px;	height: auto;	background-color: white;	margin-top: 2px;	overflow: auto;	margin-bottom: 100px;}
.detail_container .deatil_body .deatil_footer .area .hide {	display: none;}
.detail_container .deatil_body .deatil_footer .area .activity {	display: inline-block; float: left; width: 950px;}
.detail_container .deatil_body .deatil_footer .area .typeOne .one ul {	width: 950px; padding-left: 50px;}
.detail_container .deatil_body .deatil_footer .area .typeOne .one ul li	{	margin-bottom: 20px;	/* margin-right: 16px; */}
.detail_container .deatil_body .deatil_footer .area .typeOne .one ul li	table{	width: 100%;}
.detail_container .deatil_body .deatil_footer .area .typeOne .one ul li div	{	margin: 0;	padding: 0;	width: 366px;	height: 60px;}
.detail_container .deatil_body .deatil_footer .area .typeOne .one ul li div img	{	width: 60px;	height: 60px;	display: inline-block;	float: left;	margin-right: 10px;}
.detail_container .deatil_body .deatil_footer .area .typeOne .one ul li div label	{	white-space: nowrap;	overflow: hidden !important;	text-overflow: ellipsis;}
.detail_container .deatil_body .deatil_footer .area .typeOne .one ul li div span	{	width: 296px;	height: 40px;	margin: 0;	padding: 0;	display: inline-block;	white-space: normal;	overflow: hidden !important;	text-overflow: ellipsis;	position: relative;	top: 0;}

.detail_container .deatil_body .deatil_footer .area .typeTwo .two ul {	width: 950px; padding-left: 50px;}
.detail_container .deatil_body .deatil_footer .area .typeTwo .two ul li	{	margin-bottom: 20px;	margin-right: 16px;}
.detail_container .deatil_body .deatil_footer .area .typeTwo .two ul li div	{	margin: 0;	padding: 0;	width: 366px;	height: 60px;}
.detail_container .deatil_body .deatil_footer .area .typeTwo .two ul li div img	{	width: 60px;	height: 60px;	display: inline-block;	float: left;	margin-right: 10px;}
.detail_container .deatil_body .deatil_footer .area .typeTwo .two ul li div label	{	white-space: nowrap;	overflow: hidden !important;	text-overflow: ellipsis;}
.detail_container .deatil_body .deatil_footer .area .typeTwo .two ul li div span	{	width: 296px;	height: 40px;	margin: 0;	padding: 0;	display: inline-block;	white-space: normal;	overflow: hidden !important;	text-overflow: ellipsis;	position: relative;	top: 0;}
/* 별점 css */
.star_rating {font-size:0; letter-spacing:-4px;}
.star_rating a {    font-size:22px;    letter-spacing:0;    display:inline-block;    margin-left:5px;    color:#ccc;    text-decoration:none;}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:#777;}
/* 별점 css 끝 */




@CHARSET "UTF-8";

body ul, li {	padding: 0;	margin: 0;}
div { -ms-user-select: none; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;}
.hide { display: none;}
/* 
.mypage_contanier { width: 200px;	height: 1000px;	background-color: white;	margin: 0; margin-top : 20px;	padding: 0;} */

  .mypage_box { width: 200px;	height: 1000px;	margin: 0 auto;	background-color: white;}
 .mypage_side_menu .side_menu_title { width: 200px;	height: 100px;	background-color: black;	z-index: 3;}
 .mypage_side_menu .side_menu_title a span {  color: white;	 font-size: 40px;}
 .mypage_side_menu .side_menu_ul {		padding-top: 10px;	display: inline-block; float:right; z-index: 1;}
 .mypage_side_menu .side_menu_ul li {	text-align: right;	display: block; font-size: 20px;	padding-bottom: 20px;	background-color: white;}
 .mypage_box .mypage_menu_contents {	width: 1000px;	height: 1000px;	background-color: white;} */

.mypage_menu_contents .contents_box { width: 980px; height: 500px;	position: absolute;	top: 75px; right: 0;	background-color: #f7f7f7;}
.mypage_menu_contents .contents_box .user_info { width: 980px;  height: 210px; background-color: white; border-top: 2px solid black;	border-bottom: 2px solid black;}
.mypage_menu_contents .contents_box .user_info .info01 {	width: 490px;	height: 210px; background-color: white ; position: absolute; padding-left: 30px;}
.mypage_menu_contents .contents_box .user_info .info01 .title h2, span,	a {	margin: 0;	padding: 0;	display: inline-block;}
.mypage_menu_contents .contents_box .user_info .info01 .title h2 { border-bottom: 1px solid black;	padding-right: 280px;	margin-bottom: 10px;	margin-top: 4px;  padding-bottom: 10px;}
.mypage_menu_contents .contents_box .user_info .info01 .title a {	position: absolute;	right: 65px;	top: 10px;}
.mypage_menu_contents .contents_box .user_info .info01 .info .group1,	.group2 {	width: 100px; margin: 0; padding: 0;	 display: inline-block;  position: relative;}

.mypage_menu_contents .contents_box .user_info .info02 {	width: 490px;	height: 210px;background-color: blue;position: absolute; right:0;  padding-left: 30px;}
.mypage_menu_contents .contents_box .user_info .info02 .title h2, span,	a {	margin: 0;	padding: 0;	display: inline-block;}
.mypage_menu_contents .contents_box .user_info .info02 .title h2 { border-bottom: 1px solid black; margin-bottom: 10px; margin-top: 4px; padding-right: 200px; padding-bottom: 10px;}
.mypage_menu_contents .contents_box .user_info .info02 .title a {	position: absolute;	right: 65px;	top: 10px;}
.mypage_menu_contents .contents_box .user_info .info02 .info .group1,	.group2 {	width: 100px;	 margin: 0; padding: 0;	display: inline-block; position: relative;}

