@CHARSET "UTF-8";

body { margin: 0; padding: 0;}

.container {	width : 1200px;	height : 1500px;	background-color: white;	margin: 0 auto; padding-top: 50px;}
#dev_payFrm { /* border: 1px solid #fc7d32; */}
.container #dev_payFrm .order h2 {			border-bottom : 1px solid #4d90fe;	color: black;	padding : 5px;	margin: 0; margin-bottom: 10px;}
.container #dev_payFrm .coupon_box h2 { border-bottom : 1px solid #4d90fe; 	color: black;	padding : 5px;	margin: 0; margin-bottom: 10px;;}
.container #dev_payFrm .addr h2 {			border-bottom : 1px solid #4d90fe;	color: black;	padding : 5px;	margin: 0; margin-bottom: 10px;;}
.container #dev_payFrm .pay h2 { 			border-bottom : 1px solid #4d90fe;	color: black;	padding : 5px;	margin: 0; margin-bottom: 10px;;}

.container #dev_payFrm .order, .coupon_box, .addr , .pay {
	margin-bottom: 20px;
}
.container #dev_payFrm .order div{
	display: inline-block;
}
.container #dev_payFrm .order div a, a img {
	display: inline-block;	position: relative;    top: 10px;
}
.container #dev_payFrm .order div label {
	display: block;
}
.container #dev_payFrm .order .total {
	display: inline-block;
}
.container #dev_payFrm .order .dev_order {
	width: 1000px;
	margin-left: 100px;
	margin-top: 20px;
}

.container #dev_payFrm .coupon_box .box {
	width: 1000px;
	margin-left: 100px;
	margin-top: 20px;
}

.dev_cnt {
}

.dev_iprice {
	width: 50px;
}

.paybuttons{
	float: right;
}

.mypagebtn_white{
	background: white; border: 1px #4d90fe solid; color:#4d90fe; height: 30px;
}

.mypagebtn_color{
	background: #4d90fe; border:0px; color:white; height: 30px;
}

.paybtn_atag{
	font-size: 13px;
    color: #4d90fe;
    background: white;
    border: 1px #4d90fe solid;
    height: 28px;
    vertical-align: bottom;
    text-align: center;
}

.paybtn_atag span{
	height: 100%;
    align-items: center;
    display: inline-flex;
}

.btnw120 {
	width:120px;
	margin-top : 10px;
}	

.paydiv{
	border-top : 1px rgb(77,144,254) solid;
	border-bottom : 1px rgb(77,144,254) solid;
	margin-bottom : 10px;
}

table{
	width:90%;
	margin: 0 auto;
	margin-top : 20px;
	margin-bottom : 20px;
}

#paypricetd{
	background: rgb(77,144,254);
    color: white;
    font-weight:bold;	
}

select {
	height : 30px;
	margin-bottom : 20px;
}

