@CHARSET "UTF-8";

body ul, li 		{ padding: 0; margin: 0; }
body 				{ height: 100%;}
div 				{ -ms-user-select: none;	-moz-user-select: -moz-none;	-khtml-user-select: none;	-webkit-user-select: none;	user-select: none; }
hr 					{ margin-top: 30px; width: 1200px; }
*:focus 			{ outline: none; }
.hide 				{ display: none;}
.category_container { margin: 0; padding: 0; width: 100%; height: 100%;}

/* ************************************************************************************************************************************************************************************************** */
.category_container .cate_box { width: 1200px; height 100px; margin: 0 auto; padding-top : 20px; background-color: white; }
/* ************************************************************************************************************************************************************************************************** */
.category_container .cate_box .category_List 	 { width : 200px; height : auto; float : left; background-color: white; position: relative; margin-right: 15px; }
.category_container .cate_box .category_contents { width : 932px; height : auto; float : left; background-color: white; padding-top: 40px; }
.category_container .cate_box .category_contents .category_contents_pruduct 		 { width: 932px;  height:auto; float: left; background-color: white; padding-left: 45px; }
.category_container .cate_box .category_contents .category_contents_pruduct .countbox{ float: left; font-size: 13px;}
.category_container .cate_box .category_contents  p { text-align: right; }

.category_container .cate_box .category_contents .category_contents_pruduct img 			  				{ width: 892px; height: 280px; float: left; margin-bottom: 20px;}
.category_container .cate_box .category_contents .category_contents_pruduct .option_box       				{ right: 0; padding: 0; margin-bottom: 20px;}
.category_container .cate_box .category_contents .category_contents_pruduct .option_box  div   				{ display: inline-block; }
.category_container .cate_box .category_contents .category_contents_pruduct .option_box .box_1 				{ display: inline-block; margin-right: 40px; }
.category_container .cate_box .category_contents .category_contents_pruduct .option_box .box_2 				{ display: inline-block; }
.category_container .cate_box .category_contents .category_contents_pruduct .option_box .box_3 				{ display: inline-block; }

.category_container .cate_box .category_contents .category_contents_pruduct .option_box .box_1 li 			{ display: inline-block; margin: 0; border: 1px solid #efefef; padding: 0; font-size: 12px;}
.category_container .cate_box .category_contents .category_contents_pruduct .option_box .box_1 li:LASTCHILD { border-left: none;}
.category_container .cate_box .category_contents .category_contents_pruduct .option_box .box_2 li 			{ display: inline-block; margin: 0; padding: 0; font-size: 12px;}
.category_container .cate_box .category_contents .category_contents_pruduct .option_box .box_3 li 			{ display: inline-block; margin: 0; padding: 0; font-size: 12px;}

.category_container .cate_box .category_contents .category_contents_pruduct .pruduct_list 					{ width: 900px; height:auto;    margin: 0; padding: 0;  text-align: center;}
.category_container .cate_box .category_contents .category_contents_pruduct .pruduct_list .list 			{ width: 210px; height: 320px;  display: inline-block;  background-color: white; float: left; padding-right: 7px; padding-left: 7px;}
.category_container .cate_box .category_contents .category_contents_pruduct .pruduct_list .list a img 		{ width: 100%;  height: 170px;  position: relative;     top : 0; }
.category_container .cate_box .category_contents .category_contents_pruduct .pruduct_list .list a span 		{ display: block;}

/* ************************************************************************************************************************************************************************************************** */

.category_container .cate_box .category_List .category_List_sector 							  	 { width  : 200px; margin-top: 65px; }
.category_container .cate_box .category_List .category_List_sector .category_List_title 	 	 { height : 40px;  background-color: black;  text-align: left;	}
.category_container .cate_box .category_List .category_List_sector .category_List_title label 	 { color  : white; position : relative;      top: 7px;}
.category_container .cate_box .category_List .category_List_sector .category_List_subject 	 	 { height : 40px;  background-color : white; text-align: left; border-bottom: 1px solid black; }
.category_container .cate_box .category_List .category_List_sector .category_List_subject label  { width  : 150px; height : 40px;            margin: 0;        display: inline-block;          margin-top: 5px;}
.category_container .cate_box .category_List .category_List_sector .category_List_subject img 	 { width  : 30px;  height: 50px;             text-align: right; }
.category_container .cate_box .category_List .category_List_sector .category_List_subject button { border : none;  background: none;         float: right; }
.category_container .cate_box .category_List .category_List_sector .category_List_subject_child  { height : 30px;  background-color : white; position: relative; }
.category_container .cate_box .category_List .category_List_sector span 						 { display: inline-block; }
/* ************************************************************************************************************************************************************************************************** */

/* Paging  */
.category_container .cate_box .category_contents .category_contents_pruduct #pageDiv { width : 930px; height: 100px; float: left; text-align: center; position: relative; top: 75px;}


