@CHARSET "UTF-8";
body {	margin: 0;	padding: 0;}
.container {	width: 1200px;	height:  800px;	margin: 0 auto;	background-color: white;}
.container .coupon {	width: 1200px;	height: 800px;	margin:  0 auto;	background-color: white;	}
.container .coupon  h2 {	margin-top: 50px;	margin-bottom: 35px;}

.container .coupon .coupon_list ul {	
	width : 300px;	height : 175px;	display: inline-block;	padding-top: 60px;	padding-left: 60px;	
	background-image: url("/pandago/resources/couponImages/coupon.png");	background-repeat: no-repeat;	
	border: thin solid #4d90fe;	margin-right: 30px;     font-size: 13px;
}

.container .coupon .coupon_list ul li{	margin-bottom: 7px;	width: 250px;;}
/* .container .coupon .coupon_list ul li .get {	width: 240px;	height: 40px;} */

.dev_btn_coupon{ background: white; border: 1px #4d90fe solid; height: 40px; width: 100%; }
.dev_recive_coupon{background:lightgray;border:1px lightgray solid;color:white;height: 40px; width: 100%; }
span{    font-weight: bold;
    font-size: 18px;}