@CHARSET "UTF-8";

#dev_current_list {
	background: antiquewhite;
}

.cur_img {
	width: 80px;	height: 80px;
}

.view {
	width:100px;	position: fixed;	display: inline-block;
	top: 340px;	border: 1px solid black;	z-index: 10;
}

.view div ul {
	margin: 0;	padding: 0;
}

.view div ul li {
	margin: 0;	padding: 0;
}