@CHARSET "UTF-8";

body ul, li {	padding: 0;	margin: 0;}
div { -ms-user-select: none; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;}
.hide { display: none;}

/* .mypage_contanier { width: 100%;	height: 1000px;	background-color: white;	margin: 0; margin-top : 20px;	padding: 0;}
.mypage_contanier .mypage_box { width: 1200px;	height: 1000px;	margin: 0 auto;	position: relative;	background-color: white;}
.mypage_contanier .mypage_side_menu { width: 200px;	 height: 1000px;	background-color: white;	position: absolute;	left: 0;  margin-top: 25px; }
.mypage_contanier .mypage_side_menu .side_menu_title { width: 200px;	height: 100px;	background-color: black;	position: absolute;	left: 0;	z-index: 3;}
.mypage_contanier .mypage_side_menu .side_menu_title a span { position: absolute;	left: 9px;	top: 21px;	 color: white;	 font-size: 40px; }
.mypage_contanier .mypage_side_menu .side_menu_ul {	position: absolute;	padding-top: 110px;	display: inline-block; right: 0; z-index: 1;}
.mypage_contanier .mypage_side_menu .side_menu_ul li {text-align: right;	display: block; font-size: 20px;	padding-bottom: 20px;	background-color: white;}
.mypage_contanier .mypage_box .mypage_menu_contents {position: absolute;	top: 0;	right: 0;	width: 1000px;	height: 1000px;	background-color: white; }
 */
 .mypage_contanier { width: 100%;	height: 1000px;	background-color: white;	margin: 0; margin-top : 20px;	padding: 0;}
.mypage_contanier .mypage_box { width: 1200px;	height: 1000px;	margin: 0 auto;	position: relative;	background-color: white;}
.mypage_contanier .mypage_side_menu { width: 200px;	 height: 1000px;	background-color: white;	position: absolute;	left: 0;  margin-top: 25px; }
.mypage_contanier .mypage_side_menu .side_menu_title { width: 200px;	height: 100px;	background-color: black;	position: absolute;	left: 0;	z-index: 3;}
.mypage_contanier .mypage_side_menu .side_menu_title a span { color: white;	 font-size: 40px; }
.mypage_contanier .mypage_side_menu .side_menu_ul {	position: absolute;	padding-top: 110px;	display: inline-block; right: 0; z-index: 1;}
.mypage_contanier .mypage_side_menu .side_menu_ul li {text-align: right;	display: block; font-size: 20px;	padding-bottom: 20px;	background-color: white;}
.mypage_contanier .mypage_box .mypage_menu_contents {position: absolute;	top: 0;	right: 0;	width: 1000px;	height: 1000px;	background-color: white; }
 
.mypage_side_menu {text-align: center;} 
.mypage_side_menu li { height : 100%;} 
.mypage_side_menu li a { height : 100%;}
.mypage_side_menu li a span{ height : 100%; align-items: center; display: inline-flex;}

.mypage_menu_contents{ float: left; width: 80%; padding:10px; margin-top:25px;}
.mypage_menu_contents .mypage_menu_contents_loc{ margin-left: 25px;}
.mypage_menu_contents .contents_box { width: 980px; height: 500px;	position: absolute;	top: 58px; right: 0; padding-top: 60px;}
.mypage_menu_contents .contents_box .user_info { width: 980px;  height: 210px; background-color: white; border-top: 2px solid black;	border-bottom: 2px solid black;}
.mypage_menu_contents .contents_box .user_info .info01 {	width: 490px;	height: 210px; background-color: white ; position: absolute; padding-left: 30px;}
.mypage_menu_contents .contents_box .user_info .info01 .title h2, span,	a {	margin: 0;	padding: 0;	display: inline-block;}
.mypage_menu_contents .contents_box .user_info .info01 .title h2 { border-bottom: 1px solid black;	padding-right: 280px;	margin-bottom: 10px;	margin-top: 4px;  padding-bottom: 10px;}
.mypage_menu_contents .contents_box .user_info .info01 .title a {	position: absolute;	right: 65px;	top: 10px;}
.mypage_menu_contents .contents_box .user_info .info01 .info .group1,	.group2 {	width: 100px; margin: 0; padding: 0;	 display: inline-block;  position: relative;}

.mypage_menu_contents .contents_box .user_info .info02 {	width: 490px;	height: 210px;background-color: blue;position: absolute; right:0;  padding-left: 30px;}
.mypage_menu_contents .contents_box .user_info .info02 .title h2, span,	a {	margin: 0;	padding: 0;	display: inline-block;}
.mypage_menu_contents .contents_box .user_info .info02 .title h2 { border-bottom: 1px solid black; margin-bottom: 10px; margin-top: 4px; padding-right: 200px; padding-bottom: 10px;}
.mypage_menu_contents .contents_box .user_info .info02 .title a {	position: absolute;	right: 65px;	top: 10px;}
.mypage_menu_contents .contents_box .user_info .info02 .info .group1,	.group2 {	width: 100px;	 margin: 0; padding: 0;	display: inline-block; position: relative;}

.qnaContainer{ width: 100%; margin: 0 auto;}
.qnaContainer .qnaList {   width: 100%; margin: 0 auto; /* border: 1px solid rgb(77,144,254); */ padding-left: 20px; padding-bottom: 20px;}
.qnaContainer .qnaList  div { width : 100%; display: inline-block; margin-top:35px; margin-bottom: 15px; padding-bottom : 5px; border-bottom: 1px solid rgb(77,144,254);}
.qnaContainer .qnaList  div h3,input{ display: inline-block; margin: 0; padding: 0;}
.qnaContainer .qnaList  div input { margin-left : 400px;  }

.qnaContainer .qnaList ul { width: 95%; margin: 0 auto;  text-align: center;}
.qnaContainer .qnaList ul:nth-child(2)  { font-weight: bold;}
.qnaContainer .qnaList ul li {	width: 25%;	 display: inline-block; white-space: nowrap;  text-overflow: ellipsis; overflow: hidden;}
/* .mypage_menu_contents .contents_box  .qnaContainer .qnaList ul li:first-child {width: 120px;} */
.qnaContainer .qnaList ul li:last-child {width: 65px; text-align: center;}
.qnaContainer .qnaList ul .title {	margin-right: 20px;}

.qnaContainer .qnaDetail {width: 100%;	 height: 500px; margin-left: 50px;}
.qnaContainer .qnaDetail * {padding: 0;	margin: 0;}
.qnaContainer .qnaDetail .qna {border: none;		padding-left: 10px;}

.qnaContainer .qnaDetail .qna input{outline: none;}
.qnaContainer .qnaDetail div {height: 30px; padding-bottom: 3px;	margin-bottom: 5px;}
.qnaContainer .qnaUpdate{}
.qnaContainer .qnaWrite{}

.qnaheader{
	border-bottom : 1px rgb(77,144,254) solid;
	margin-bottom: 10px;
}
.btnitem{
	background: #4d90fe;
    border: 3px #4d90fe solid;
    height: 32px;
    color: white;
    width: 90%;
    margin-left: 4px;
    margin-bottom: 5px;
}

.btncancel{
    color: 4d90fe;
    background: white;
    border: 1px #4d90fe solid;
    height: 30px;
    width: 90%;
}

.mypagebtn_atag{
	font-size: 13px;
    color: #4d90fe;
    background: white;
    border: 1px #4d90fe solid;
    height: 28px;
    vertical-align: bottom;
    text-align: center;
}

.mypagebtn_atag span{
	height: 100%;
    align-items: center;
    display: inline-flex;
}

.btnw120 {
	width:120px;
}

#userlabel{
	text-align: left;
}			

.mypagebtn_white{
	background: white; border: 1px #4d90fe solid; color:#4d90fe; height: 30px; 
}

.mypagebtn_color{
	background: #4d90fe; border:0px; color:white; height: 30px;
}				
