@CHARSET "UTF-8";

body, ul, li {
	margin: 0;
	padding: 0;
}

div {
	-ms-user-select: none;	-moz-user-select: -moz-none;	-khtml-user-select: none;	-webkit-user-select: none;	user-select: none;
}


a {
	text-decoration: none;
	color: #000000;
}

ul {
	list-style-type: none;
}

.container {
	margin: 0;
	padding: 0;
	background-color: green;
	width: 100%;
	height: 1000px;
}

.container .box {
	margin: 0;
	padding: 10px;
	width: 1600px;
	height: 1000px;
	position: relative;
}

.container .box .sec_01 {
	position: absolute;
	top: 0;
	left: 0;
	width: 220px;
	height: 1000px;
	margin: 0;
	padding: 0;
}

.container .box .sec_02 {
	position: absolute;
	top: 0;
	left: 220px;
	width: 1200px;
	height: 840px;
	background-color: blue;
	margin: 0;
	padding: 0;
	border-left: 1px solid black;
}

.container .box .sec_01 .menu {
	width: 100%;
	height: 800px;
	background-color: #23282d;
	padding-top: 30px;
	padding-bottom: 10px;
	s
}

.container .box .sec_01 .menu .test {
	width: 200px;
	height: 44px;
	background-color: black;
	margin-left: 10px;
	padding: 0;
	color: white;
	font-size: 30px;
	text-align: center;
}

.container .box .sec_01 .menu .components {
	margin-top: 20px;
	width: 100%;
	height: 100%;
	width: 100%;
}

.container .box .sec_01 .menu .components ul li {
	width: 210px;
	height: 50px;
	background-color: #23282d;	
	text-align: left;
	padding-left: 10px;
	padding-top: 20px;
}

.container .box .sec_01 .menu .components ul li a {
	
}

.container .box .sec_01 .menu .components ul li a span {
	font-size: 18px;
	color: white;
}

.container .box .sec_01 .menu .components ul li a img {
	width: 20px;
	height: 20px;
	position: relative;
	top: 4px;
}