@CHARSET "UTF-8";

body {
	padding: 0;
	margin: 0;
}

div {
	-ms-user-select: none;	-moz-user-select: -moz-none;	-khtml-user-select: none;	-webkit-user-select: none;	user-select: none;
}


.container {
	margin: 0;
	padding-top: 150px;
	z-index: 0;
}

.container .login_box {
	width: 500px;
	height: 300px;
	margin: 0 auto;
	background-color: white;
	padding-top: 0;
	position: relative;
}

.container .login_box h1 {
	position: absolute;
	top: -29px;
	left: 4px;
	z-index: 7;
	opacity: 0.5;
}

.container .login_box .bamboo1 {
	position: absolute;
	top: -80px;
	left: 320px;
}

.container .login_box .bamboo2 {
	position: absolute;
	top: -80px;
	left: 370px;
}

.container .login_box .bamboo3 {
	position: absolute;
	top: -80px;
	left: 420px;
}

.container .login_box #login {
	width: 100%;
	height: 100%;
	background-color: white;
	position: relative;
	border: 1px solid #a9a9a9;
}

.container .login_box #login h2 {
	margin-left: 110px;
	margin-top: 65px;
}

.container .login_box #login #center {
	width: 280px;
	background-color: white;
	margin: 0 auto;
	position: relative;
}

.container .login_box #login #center ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.container .login_box #login #center ul li {
	display: inline-block;
	width: 100px;
	height: 30px;
}

.container .login_box #login #center ul li input[type=image] {
	width: 220px;
	height: 70px;
	position: absolute;
	top: 69px;
	left: 30px;
	border: none;
}
}